{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>My Blog</title>
  

</head>

    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Welcome My Blog</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    
                    <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="nav__item"><a href="{% url 'article:dashboard' %}" class="nav__link">Control Panel</a></li>
                        <li class="nav__item"><a href="{% url 'user:logout' %}" class="nav__link">Log Out</a></li>
                    {% else %}
                    <li class="nav__item"><a href="{% url 'user:register' %}" class="nav__link">Sign In</a></li>
                    <li class="nav__item"><a href="{% url 'user:login' %}" class="nav__link">Log In</a></li>
                    {% endif %}
                    
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    

 <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'm <span class="home__title-color">Deniz</span><br> Python Developer</h1>

                    <a href="#" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/deniz-%C3%A7elik-84bb46161/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="" class="home__social-icon"><i class='bx bxl-behance' ></i></a>
                    <a href="https://github.com/Lychnbite" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="home__img">    
                    <img src="#" alt="">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'img/mine.jpg' %}" alt="" class="imgben">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'm Deniz</h2>
                        <p class="about__text">I'm 32 years old. I know Python programming language and I love it :) I develop various web projects with Django.</p>
                        <a type="button" href="{% url 'article:about' %}" class="btn btn-secondary btn-sm">Read more...</a>           
                    </div>                                   
                </div>
            </section>



<section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work2.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work3.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work4.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work5.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work6.jpg' %}" alt="">
                    </div>
                </div>
            </section>

 <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Submit" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Deniz</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p>&#169; 2020 copyright all right reserved</p>
        </footer>





<script src="https://unpkg.com/scrollreveal"></script>
<script src="static/js/main.js"></script>

</body>
</html>